<style>
#w{
  border-radius: 10px;
}
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
{{#each rows}}

<div id="w" class="container p-3 w-50 bg-dark"  >
<h1 class="d-flex justify-content-center text-light">{{this.First_name}} {{this.Last_name}}</h1>
</div>
<div class="container p-5">
<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>


    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.First_name}}</td>
      <td>{{this.Last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
    </tr>
    </tbody>
</table>
</div>
    <div class="col">
        <div class="row">
            <b>Comments</b>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <p>{{this.comments}}</p>
        </div>
    </div>
{{/each}}
